/* Predictions.css */
.predictions {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    font-size: 2.2em;
    color: #181818;
  
  }
}

.leaderboard {
  margin-top: 20px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 15px;
  margin: 5px 0;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.user:hover {
  background-color: #e0e0e0;
}

.user.rank-1 {
  background: linear-gradient(to right, gold 1%, white 35%);
}

.user.rank-2 {
  background: linear-gradient(to right, silver 1%, white 35%);
}

.user.rank-3 {
  background: linear-gradient(to right, #cd7f32 1%, white 35%); /* Bronze color */
}

.user .position {
  font-weight: bold;
  font-size: 1.2em;
}

.user .name {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.user .score {
  font-weight: bold;
  font-size: 1.2em;
}

.user2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 15px;
  margin: 5px 0;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.user2:hover {
  background-color: #e0e0e0;
}

.user2 .position {
  font-weight: bold;
  font-size: 1.2em;
}

.user2 .name {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.user2 .score {
  font-weight: bold;
  font-size: 1.2em;
}

.user-predictions {
  padding: 10px 15px;
  margin-top: 5px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.user-predictions h4 {
  margin-top: 10px;
}

.summary {
  display: inline-block;
  margin-left: 20px;
  font-size: 12px;
  color: #3a3a3a;
}


.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 2px;
}

.exact-circle {
  background-color: #93e9a9;
}

.correct-circle {
  background-color: #f3db8d;
}

.incorrect-circle {
  background-color: rgb(240, 130, 130);
}

.prediction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.prediction .team {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.prediction .team img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 50%;
}

.prediction .team-name {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-right: 8px;
}

.prediction span {
  flex-grow: 1;
  text-align: center;
  font-size: 24px; /* Tamaño del resultado más grande */
  font-weight: bold;
}

.correct-result {
  background-color: #d4edda;
}

.correct-outcome {
  background-color: #f8e8b2;
}

.incorrect-result {
  background-color: rgb(243, 156, 156); /* Darker grey background for incorrect predictions */
}
